@import "../node_modules/bulma/sass/utilities/_all";

.main-menu-button {

  background-color: transparent;
  border-color: transparent;
  color: white;

  &:hover {
    background-color: white;
    opacity: 0.2;
    border-color: transparent;
  }
}

.main-menu-button-active {
  background-color: white;
  opacity: 0.2;
}

.main-menu { 
  @media screen and (max-width: $tablet ) {
    display: none
  }
}

